.cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("/imagens/backend.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cadastro form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cadastro form input {
  background: none;
  border: 1px solid;
  border-radius: 5px;
}

.cadastro form input::-moz-placeholder {
  color: black;
}

.cadastro form input::placeholder {
  color: black;
}

.cadastro form input.active {
  -webkit-animation: ativo 0.2s;
          animation: ativo 0.2s;
}

@-webkit-keyframes ativo {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes ativo {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.cadastro form button {
  background: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.432);
  transition: 0.4s all;
}

.cadastro form button:hover {
  background-color: rgba(255, 255, 255, 0.685);
}

