/* header */

header {
    height: 100%;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/imagens/header.jpg");
}

.adm {
    position: absolute;
    left: 5px;
    text-decoration: none;
    color: #fff;
    z-index: 2;
}

.adm:hover {
    color: #fff;
}

.h1-header {
    color: #fff;
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    text-transform: uppercase;
    margin-top: 0.5rem;
}

.blocks-header {
    align-self: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.h2-blocks-header {
    text-align: center;
    position: absolute;
    top: 7rem;
    left: 0;
    right: 0;
    color: #fff;
    text-transform: uppercase;
}

.block-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
    background-color: rgba(255, 255, 255, 42%);
    transition: all 0.4s;
}

.block-header:hover {
    background-color: rgba(255, 255, 255, 0.671);
}

/* header */

/* responsive */

.responsive {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    padding: 2rem 10rem;
}

.responsive-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.img-responsive {
    transition: all 0.4s;
    max-width: 100%;
}

.img-responsive:hover {
    opacity: 80%;
}

.h2-title-responsive {
    text-align: center;
    margin: 1rem;
}

/* responsive */

/* img-dinamic */

.img-dinamic {
    display: flex;
    position: relative;
}

.img-dinamic img {
    width: 100%;
    align-self: center;
}

.img-dinamic h1 {
    text-align: center;
    align-self: center;
    position: absolute;
    left: 0;
    right: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 100px;
}

/* img-dinamic */

/* footer */

footer {
    background-image: url("/imagens/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

footer h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

/* footer */

@media (min-width: 300px) and (max-width: 578px) {
    .h1-header {
        font-size: 20px;
    }
    .h2-blocks-header {
        display: none;
    }
    .responsive {
        padding: 10px;
        flex-direction: column;
    }
    .img-dinamic h1 {
        font-size: 50px;
    }
}

@media (min-width: 578px) and (max-width: 768px) {
    .responsive {
        padding: 2rem 2rem;
    }
}

