.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/imagens/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.form-login {
  display: flex;
  justify-content: center;
}

.form-login form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-login form input {
  outline: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.466);
  border: 1px solid;
}

.form-login form input::-moz-placeholder {
  color: black;
}

.form-login form input::placeholder {
  color: black;
}

.form-login form input.active {
  -webkit-animation: ativo 0.2s;
          animation: ativo 0.2s;
}

@-webkit-keyframes ativo {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes ativo {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.form-login form button {
  border: 1px solid;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.466);
}

.form-login a {
  text-decoration: none;
  color: white;
}

.form-login a:hover {
  color: white;
}

