.admin-dad {
    height: 100%;
    background-image: url("/imagens/keyboard-70506_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
}

.admin {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
        display: flex;
        gap: 5px;
        flex-direction: column;
        button {
            background-color: #ffffff4a;
            border: 1px solid;
            border-radius: 5px;
            transition: 0.4s;
            &:hover {
                background-color: rgba(255, 255, 255, 0.753);
            }
        }
    }
}

.admin-imagens {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
    height: 300px;
    overflow-y: scroll;
}

.dad-img {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.img {
    display: flex;
    // flex-direction: column;
    img {
        display: flex;
        max-width: 300px;
        max-height: 150px;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    button {
        background-color: #ffffff4a;
        border: 1px solid;
        border-radius: 5px;
        text-transform: uppercase;
        transition: 0.4s;
        &:hover {
            background-color: rgba(255, 255, 255, 0.753);
        }
    }
}
