header {
    height: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/imagens/header.jpg");
}

.responsive {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
}

.responsive-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.img-responsive {
    transition: all 0.4s;
}

.img-responsive:hover {
    opacity: 80%;
}

.h1-header {
    color: #fff;
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    text-transform: uppercase;
    margin-top: 0.5rem;
}

.blocks-header {
    align-self: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.h2-blocks-header {
    text-align: center;
    position: absolute;
    top: 7rem;
    left: 0;
    right: 0;
    color: #fff;
    text-transform: uppercase;
}

.block-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
    background-color: rgba(255, 255, 255, 42%);
    transition: all 0.4s;
}

.block-header:hover {
    background-color: rgba(255, 255, 255, 0.671);
}