.body {
  height: 100%;
  background-image: url("/imagens/backend.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.update {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  overflow-y: scroll;
  padding: 1rem;
}

.update img {
  max-height: 300px;
  max-width: 200px;
}

.update form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.update button {
  background: none;
  border-radius: 5px;
}
